:root {
    --white: #ffffff;
    --primary-color: #4CAF50;
    --text-color: #333333;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.5s, color 0.5s;
    background-color: #f4f4f4;
    color: var(--text-color);
}

body.dark-mode {
    --white: #444444;
    --primary-color: #66bb6a;
    --text-color: #ffffff;
    background-color: #333333;
}

dinner-roulette {
    text-align: center;
}

#theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}