body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.5s, color 0.5s;
}

body.dark-mode {
    background-color: #333;
    color: white;
}

lotto-generator {
    text-align: center;
}

#theme-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}